body {
    background-color: rgb(81, 178, 198);
    background-color: #51B2C6;
}

.container {
    display: inline-block;
    width: 800px;
    margin: 80px calc((100% - 800px) / 2) 0;
}
    .container > .left {
        display: inline-block;
        width: 40%;
        float: left;
        background-color: #027BBD;
    }
    .container > .right {
        display: inline-block;
        width: 60%;
        padding: 80px;
        float: left;
        background-color: #fff;
    }