body {
    background-color: #51B2C6;
}

.background {
    height: 100vh;
    background-image: url(../img/mountain.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
}

.container {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .container > .left {
        display: inline-block;
        width: 40%;
        float: left;
        background-color: #027BBD;
        background-image: url(../img/mountain.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 0;
    }
        .main-title {
            padding: 20px;
            color: #fff;
            font-weight: normal;
        }
        .footer {
            position: absolute;
            left: 20px;
            bottom: 20px;
            right: 20px;
        }
            .footer > a {
                color: #fff;
            }
            .footer > span {
                color: #fff;
            }
    .container > .right {
        display: inline-block;
        width: 60%;
        padding: 80px;
        float: right;
        background-color: #fff;
        position: relative;
    }
        .close {
            display: inline-block;
            width: 80px;
            height: 80px;
            position: absolute;
            top: 0;
            right: 0;
        }
            .close > .line {
                display: inline-block;
                width: 40px;
                height: 2px;
                background-color: #888;
                position: absolute;
            }
            .close > .line:first-of-type {
                transform: rotate(45deg);
                top: 24px;
                left: 31px;
                transform-origin: top left;
            }
            .close > .line:last-of-type {
                transform: rotate(-45deg);
                transform-origin: bottom left;
                top: 52px;
                left: 30px;
            }
        .form span,
        .form a {
            display: inline-block;
            padding: 10px;
            float: left;
            font-size: 17px;
            line-height: 20px;
        }
        .form span {
            margin-left: 10px;
        }
        .form a {
            color: #005DD8;
            text-decoration: none;
            font-weight: bold;
        }